/* You can add global styles to this file, and also import other style files */
// Import Bootstrap source files
@import "/node_modules/bootstrap/scss/functions";
@import "/node_modules/bootstrap/scss/variables";
@import "/node_modules/bootstrap/scss/mixins";
$theme-colors: (
  "primary": $blue-700,
  "secondary": $gray-800,
  "success": $green-700,
  "info": $cyan-800,
  "warning": $yellow-800,
  "danger": $red-800,
  "light": $white,
  "dark": $dark,
);

.body {
  background-color: $dark;
  color: $light;
}

.container-fluid {
  width: 90% !important;
  margin: 0 auto;
}

.text-hover-primary {
  &:hover {
    color: $yellow-400;
  }
}
.text-hover-danger {
  &:hover {
    color: $red-400;
  }
}

.btn {
  padding-left: 1rem !important;
  padding-right: 1rem !important;
}

.btn .multiselect-dropdown {
  & > .dropdown-list {
    max-height: 80vh;
    overflow-y: scroll;
  }
}
.codeBlock {
  min-height: 10px;
  max-height: 80vh;
  overflow-y: scroll;
  color: white;
  background-color: #899a9e73;
}
.table-container {
  width: 100%;
  height: 100vh !important;
  overflow-y: scroll;
}

.search-bar {
  border-color: transparent;
  border-radius: 0.25rem;
  width: 30% !important;
}

//modals
.modal {
  .modal-content {
    background-color: $dark;
    color: $light;

    & .modal-header {
      border: unset !important;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4) !important;
    }

    & .modal-footer {
      border-top: 1px solid $gray-700 !important;
    }
  }

  .modal-lg {
    max-width: 80% !important;

    @media (max-width: 500px) {
      max-width: 100% !important;
      margin: 0 !important;
    }
  }

  .modal-sm {
    max-width: 40% !important;

    @media (max-width: 500px) {
      max-width: 100% !important;
      margin: 0 !important;
    }
  }

  .modal-center {
    margin-right: auto !important;
    margin-left: auto !important;
  }

  .modal-right {
    margin: 0px !important;
    margin-left: auto !important;
  }
}

.bi-pencil,
.bi-trash-fill,
.bi-x-lg,
.bi-x {
  cursor: pointer;
  transform: scale 300ms ease-out;

  &:hover {
    transform: scale(1.2);
    transform-origin: center;
  }
}

//scrollbar
/* Firefox */
* {
  scrollbar-width: 5px;
  scrollbar-color: #585858 #dfe9eb;
}

/* Chrome, Edge and Safari */
*::-webkit-scrollbar {
  width: 6px;
  width: 6px;
  height: 8px;
}

*::-webkit-scrollbar-track,
*::-webkit-scrollbar-track:hover,
*::-webkit-scrollbar-track:active {
  background-color: #a3a3a3;
}

*::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #3b3b3b;
}

/* Importing Bootstrap SCSS file. */
@import "./node_modules/bootstrap/scss/bootstrap";
